<div class="card shadow mb-4">
    <div class="card-header py-3">
        <div class="d-flex flex-row bd-highlight justify-content-between">
            <h6 class="m-0 mt-3 font-weight-bold text-primary d-flex ">DataTable Category</h6>
            <button type="button" class="btn btn-primary d-flex bd-highlight" data-toggle="modal" data-target="#modalCategory">
Add         
</button>
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Name</th>
                        <th>Action</th>
                </thead>


            </table>
        </div>
    </div>
</div>